# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Env
venv/
env/
ENV/
.env

# OS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# IDE
.vscode/
.idea/

# Project specific
output/

# Data (Sensitive/Large)
# Ignore everything in data/ except .gitkeep (if it exists) to show folder structure
data/*
!data/.gitkeep

# Reference Code
ref1/
ref2/
